mixin TaskCard(task)
    .task(data-href="/task/#{task.id}/details/")
        .row
            .col-xs-3
                .category(class=task.category)
            .col-xs-9
                strong= task.author.username

                div
                    if task.summary
                        b= task.summary
                        | &nbsp;
                    small= task.description

                    if task.call
                        i= task.call.state

