mixin TaskCard(task)
    .task.card(data-href="/task/#{task.id}/details/")&attributes(attributes)

        .pull-left
            .category(class=task.category)
        .cnt
            strong.bigger-text.shine-text= task.author.username

            div
                b= task.summary
                | &nbsp;

                if task.call
                    i= task.call.state
                    | &nbsp;

                small.thin= task.description
        .clearfix