mixin TaskCard(task)
    .task.card(data-href="/task/#{task.id}/details/")&attributes(attributes)

        .pull-left
            .category(class=task.category)
        .cnt
            strong.bigger-text.shine-text= task.author.display_name

            div
                b= task.summary
                | &nbsp;

                small.thin= task.description

            if task.call
                div
                    i= task.call.state
                    | &nbsp;


        .clearfix