mixin TaskCard(task)
    .task.card(data-href="/task/#{task.id}/details/")&attributes(attributes)
        .pull-left
            .category(class=task.category)
        .pull-left
            strong= task.author.username

            div
                if task.summary
                    b= task.summary
                    | &nbsp;

                if task.call
                    i= task.call.state
                    | &nbsp;

                small= task.description

        .clearfix
