include _tasks-menu

header
    +TasksMenu('my')

if !model.length
    h2(style="text-align: center") Whops! Nothing here so far :-(

each call in model
    .calls
        .row
            .col-xs-3
                img(width=64 height=64 src=call.proof)
            .col-xs-9
                div
                    if call.task.summary
                        b= call.task.summary
                        | &nbsp;

                    i= call.state
                    | &nbsp; by &nbsp;

                    = call.executor.display_name

                    if call.state === 'completed'
                        .btn-group
                            button.btn.btn-xs.btn-primary.btn-success(data-href="/call/#{call.id}/approve") Approve
                            button.btn.btn-xs.btn-danger(data-href="/call/#{call.id}/decline") Decline
